@import "tailwindcss";
@plugin "daisyui";

.swiper {
  width: 100%;
}

.open {
  right: 0 !important;
}

.widhtProduct {
  width: 75% !important;
}

.mypaddin-left {
  padding-right: 10px !important;
}

.active {
  background: black !important;
  color: #ffff !important;
}

.brand-list img {
  @apply max-w-[200px];
}
#brand {
  animation: infinitScroll 7s linear infinite;
}

@keyframes infinitScroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
